body {
    background-color: #111216;
    font-family: "Inter", sans-serif;
    color: white;
}

div {
    margin: 0 15px;
}

h1 {
    color: white; /* Optional: Header color */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures even column width */
    color: white; /* White text for both header and body */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid white; /* White lines separating rows */
    overflow: hidden; /* Prevents overflow */
}

th {
    font-weight: bold; /* Bold headers */
}


a, button {
    color: white;
    background-color: #111216;
    text-decoration: underline;
    margin-top: 20px;
    margin: 10px;
    border: #111216 1px solid;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: #2a2a2a;
}

.breadcrumbs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0;

}

.breadcrumbs button,
.breadcrumbs span {
    margin-right: 0.7rem;
}

.new-button {
    margin-left: auto;
    white-space: pre;
}
